<a href="https://colab.research.google.com/github/alexgar76/curso_python/blob/main/cap12_Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Ejercicio 1
producto= {
 "nombre":"iphone 14",
 "precio":799,
 "color":"plata"
}
print(producto)
print(type(producto))

{'nombre': 'iphone 14', 'precio': 799, 'color': 'plata'}
<class 'dict'>

In [2]:
#acceder a valor de diccionario
carro = {
    "marca":"toyota",
    "color":"negro"
}
print(len(carro))
print(carro["marca"])
print(carro["color"])

2
toyota
negro

In [5]:
#Modificar diccionario
carro = {
    "Marca":"Toyota",
    "Color":"negro"
}
print(carro["Color"])
carro["Color"]="rojo"
print(carro["Color"])

negro
rojo

In [1]:
#agregar valor a diccionario
carro = {
    "marca":"toyota",
    "color":"negro"
}
carro["maletero"]="skybox16"
carro["guardabarro"]="pocket style"
print(carro["maletero"])
print(carro)

skybox16
{'marca': 'toyota', 'color': 'negro', 'maletero': 'skybox16', 'guardabarro': 'pocket style'}

In [2]:
#eliminar diccionario
carro ={
    "marca":"toyota",
    "color":"blanco",
    "maletero":"skybox 16"

}

print(carro)
carro.pop("maletero")
print(carro)

{'marca': 'toyota', 'color': 'blanco', 'maletero': 'skybox 16'}
{'marca': 'toyota', 'color': 'blanco'}

In [5]:
#ciclos en en diccionarios
producto1={"nombre":"monitor", "precio":119}
producto2={"nombre":"mouese","precio":6}
listaProductos=[]
listaProductos.append(producto1)
listaProductos.append(producto2)
print(listaProductos)
print(listaProductos[0])
print(listaProductos[0]["nombre"])

print(listaProductos[1])

[{'nombre': 'monitor', 'precio': 119}, {'nombre': 'mouese', 'precio': 6}]
{'nombre': 'monitor', 'precio': 119}
monitor
{'nombre': 'mouese', 'precio': 6}

In [3]:
#ciclos con listas que contienen diccionarios
producto1={"nombre":"monitor","precio":119}
producto2={"nombre":"mouse", "precio":6}
listaProductos=[producto1,producto2]

i=0
while(i<len(listaProductos)):
 print("nombre producto:"+listaProductos[i]["nombre"])
 print("precio producto:"+str(listaProductos[i]["precio"]))
 i=i+1

nombre producto:monitor
precio producto:119
nombre producto:mouse
precio producto:6

In [3]:
#Ejercicio 1
nombre=input("ingrese el nombre de la mascota ")
raza=input("ingrese la raza ")
edad=input("ingrese edad ")
mascota={"nombre":nombre,"raza":raza,"edad":edad}
print(mascota)

ingrese el nombre de la mascota drago
ingrese la raza husky
ingrese edad 5
{'nombre': 'drago', 'raza': 'husky', 'edad': '5'}

In [4]:
#ejercicio 2
numEntero=input(int("ingrese un numero "))

ValueError: invalid literal for int() with base 10: 'ingrese un numero '