<a href="https://colab.research.google.com/github/alexgar76/curso_python/blob/main/Cap13_Ciclo_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ejemplo 1
edades=[25,7,39]
for edad in edades:
  print(edad)

25
7
39

In [ ]:
#Ejemplo 2 for con Texto
mensaje='hola Ana'
for caracter in mensaje:
  print(caracter)

h
o
l
a

A
n
a

In [ ]:
#for con texto con If
mensaje ="hola Ana"
for caracter in mensaje:
  if caracter == 'A':
   print("se encontro letra")
  else:
   print(caracter)

h
o
l
a

se encontro letra
n
a

In [ ]:
#ejm 3 For con diccionarios
ciclista={"nombre":"Egan","apellido":"Bernal","tipo":"Escalador"}

for clave in ciclista:
  print(clave+":"+ciclista[clave])

nombre:Egan
apellido:Bernal
tipo:Escalador

In [ ]:
#ejm 3.1. For que contienen listas diccionarios
discoteca1={"nombre":"Perro Negro","ubicacion":"Local"}
discoteca2={"nombre":"Teatro victoria","ubicacion":"Foraneo"}
discotecas=[discoteca1,discoteca2]

for discoteca in discotecas:
  print(discoteca["nombre"]+ "-"+discoteca["ubicacion"])

Perro Negro-Local
Teatro victoria-Foraneo

In [ ]:
#ejm 4 funcion Range
numeros=[1,2,3,4,5]

for numero in numeros:
  print(numero)

1
2
3
4
5

In [ ]:
#ejm 4.1 funcion Range
for numero in range(6):
  print(numero)

0
1
2
3
4
5

In [ ]:
#ejm 4.2 Funcion Range con multiples argumentos
for numero in range(3,7,2):
  print(numero)

3
5

In [ ]:
#Ejercicio 1
numero =int(input())
for i in range(numero):
  print("rocas")

4
rocas
rocas
rocas
rocas

In [12]:
#ejercicio 2
mercado=["pan","leche","huevo"]
for articulos in mercado:
  print(articulos)

pan
leche
huevo

In [ ]:
#ejercicio 3 for del 1 al 80
for numero in range(1,81):
  print(numero)

In [ ]:
#ejercicio 4 for del 1000 al 0
for numero in range(1000,0,-1):
  print(numero)

In [ ]:
#ejercicio 4 for del 2 al 66 de 2
for numero in range(2,68,2):
  print(numero)

In [17]:
#ejercicio final
nombre1=input("ingrese nombre 1 ")
nombre2=input("ingrese nombre 2 ")
nombre3=input("ingrese nombre 4 ")
nombre4=input("ingrese nombre 4 ")
nombres=[]
nombres.append(nombre1)
nombres.append(nombre2)
nombres.append(nombre3)
nombres.append(nombre4)
for nombre in nombres:
  if nombre[0] == 'l':
    print(nombre+"  "+"Nombre Descartado")
  else:
   print(nombre+"  "+"Nombre Posible"  )

ingrese nombre 1 marco
ingrese nombre 2 luis
ingrese nombre 4 carlos
ingrese nombre 4 lana
marco  Nombre Posible
luis  Nombre Descartado
carlos  Nombre Posible
lana  Nombre Descartado