<a href="https://colab.research.google.com/github/alexgar76/curso_python/blob/main/cap_4_E_S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#funcion INPUT
print("ingresa tu nombre")
nombre =input()
print("su nombre es" + ' ' +  nombre)

ingresa tu nombre
alex
su nombre es alex

In [5]:
#conversion de tipos de variables
edad=int(input("ingrese su edad: "))
mitadDeEdad=edad/2
print(mitadDeEdad)

ingrese su edad: 48
24.0

In [7]:
#conversion de tipos de variables 2
edadPadre=input("ingrese edad padre: ")
edadMadre=int(input("Ingrese Edad madre: "))
estaturaPadre=float(input("ingrese Estatura: "))
print(type(edadPadre))
print(type(edadMadre))
print(type(estaturaPadre))
print(edadPadre)
print(edadMadre)
print(estaturaPadre)

ingrese edad padre: 48
Ingrese Edad madre: 45
ingrese Estatura: 1.85
<class 'str'>
<class 'int'>
<class 'float'>
48
45
1.85

In [12]:
#Concatenar
nombreProducto= "televisor"
precioProducto= 200
print("nombre" + nombreProducto)
print("precio" + precioProducto) #"""este codigo marca error, por que solo se puede concatenar datos tipo string"""

nombretelevisor

TypeError: can only concatenate str (not "int") to str

In [16]:
nombreProducto="Televisor"
precioProducto =200
print("nombre " + nombreProducto)
print("precio" +" "+ str(precioProducto)) # se tiene que convertir el datos a string

nombre Televisor
precio 200

In [17]:
nombreProducto ="radio"
precioProducto =1225.556
print("Producto:",nombreProducto,"Precio: ",precioProducto) #se puede concatenar con comas, sin hacer conversion de dato

Producto: radio Precio:  1225.556

In [6]:
apellido=input("Apellido ")
nombre=input("nombre ")
edad=int(input("edad "))
estatura=float(input("estatura "))
print(apellido)
print(nombre)
print(edad)
print(estatura)
print(type(apellido))
print(type(nombre))
print(type(edad))
print(type(estatura))

Apellido garcia
nombre alex
edad 48
estatura 1.70
garcia
alex
48
1.7
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [7]:
#Practica 1
apellido=input("Ingrese su apellido: ")
nombre=input("ingrese su nombre")
edad=int(input("ingrese su edad: "))
estatura=float(input("ingrese su estatura"))
print("Su nombre es: ",nombre,apellido,"su estatrura es:",estatura,"su edad es:",edad)

Ingrese su apellido: garcia
ingrese su nombrealex
ingrese su edad: 48
ingrese su estatura1.70
Su nombre es:  alex garcia su estatrura es: 1.7 su edad es: 48

In [11]:
anos=float(input("ingrese a単os de caida de asteroide "))
anosCaida=anos/2
print("el asteroide caera en ",anosCaida,"A単os")

ingrese a単os de caida de asteroide 28.4
el asteroide caera en  14.2 A単os