<a href="https://colab.research.google.com/github/alexgar76/Curso_Ciencia_Datos/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print(pd.__version__)

2.2.2

**Pandas dispone de tres estructuras de datos diferentes:**
1.   Series: Estructura de una dimensión.
2.   DataFrame: Estructura de dos dimensiones (tablas).
3.  Panel: Estructura de tres dimensiones (cubos).

In [ ]:
#Ejemplo de SERIES
#creacion de una serie aparti de una lista
import pandas as pd
s=pd.Series(['Matematicas','Historia','Economia','Programacion','Ingles'])
print(s)

0     Matematicas
1        Historia
2        Economia
3    Programacion
4          Ingles
dtype: object

In [ ]:
#Ejemplo de SERIES
#creacion de una serie aparti de un diccionario
import pandas as pd
s=pd.Series({'Matemarica':6.0,'Economia':4.5,'Programacion':9.5})
print(s)
s.size

Matemarica      6.0
Economia        4.5
Programacion    9.5
dtype: float64

3

**Atributos de una serie**
Existen varias propiedades o métodos para ver las características de una serie.
1.   s.size : Devuelve el número de elementos de la serie s.
2.   s.index : Devuelve una lista con los nombres de las filas del DataFrame s.
3.   s.dtype : Devuelve el tipo de datos de los elementos de la serie s.

In [ ]:
#Ejm de atributos
import pandas  as pd
s=pd.Series([1,2,2,3,3,3,4,4,4,4])
s.size
s.index
s.dtype

dtype('int64')

In [ ]:
#ejm por serie
import pandas as pd
s = pd.Series({'Matemáticas': 6.0,  'Economía': 4.5, 'Programación': 8.5, 'quimica': 8.5})
print(s[1:4])
print()
print(s['quimica'])
print()
print(s[['Matemáticas','quimica']])
s[['Matemáticas','quimica']]

Economía        4.5
Programación    8.5
quimica         8.5
dtype: float64

8.5

Matemáticas    6.0
quimica        8.5
dtype: float64

Matemáticas    6.0
quimica        8.5
dtype: float64

In [2]:
#ejm resumen descriptivo de series
import pandas as pd
s = pd.Series({'Matemáticas': 6.0,  'Economía': 4.5, 'Programación': 8.5, 'quimica': 8.5})
#Count muestra el tamaño de la serie
print("el tamaño de la series: " , s.count())

el tamaño de la series:  4